html{
    background-color: #EEDEC5;
}

h1, h3,h4{
    color:brown;
    text-align: center;
    
}
h3{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: brown;
}
p{
    text-align: center;
}

img, iframe{
   display: flex;
   margin: auto;
}

.main{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    
}